<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="{{ htmlWebpackPlugin.options.description }}">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>

<body>
</body>

</html>