<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="{{ htmlWebpackPlugin.options.description }}">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>

<body>
    <div class="alert alert-primary" role="alert">
        This is a primary alert-check it out!
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another Action</a>
            <a class="dropdown-item" href="#">Another Another Action</a>
        </div>
    </div>
</body>

</html>